/* File:        minimalistWhite.css
 * Author:      Erik Johannes Husom
 * Description: Style for personal website.
 */

:root {
    --main-font-color: rgb(57, 56, 56);
    --secondary-font-color: rgb(142, 142, 142);
    --max-body-width: 70em;
}

/*Body{{{*/
body {
    /* font-family: sans-serif; */
    /* font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace; */
    font-family: monospace;
    color: var(--main-font-color);
    box-sizing: border-box;
    max-width: var(--max-body-width);
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}

body.wide {
    max-width: none;
}
/*}}}*/

/*Header{{{*/
header {
    top: 0;
    right: 0;
    left: 0;
    padding-top: 5rem;
    padding-bottom: 2rem;
}
/*}}}*/

/*Nav{{{*/
nav {
  font-size: 1em;
  font-weight: 600;
  color: var(--secondary-font-color);
  text-transform: lowercase;
}

/* nav a { */
/*   display: block; */
/* } */
/*}}}*/

/*Headers{{{*/
h1, h2, h3 {
  display: inline;
  font-size: 16px;
  font-weight: 600;
  text-transform: lowercase;
}

h2 {
    color: var(--main-font-color);
}

h2.category {
    /*color: rgb(80,80,80);*/
  color: var(--main-font-color);
}

h3.space {
    padding-top: 2em;
    padding-bottom: 2em;
}

h3.cheatsheet {
  display: block;
  font-size: 1.4em;
}

h4 {
    display: inline;
    font-size: 14px;
    font-weight: 600;
    text-transform: lowercase;
    color: var(--secondary-font-color);
}
/*}}}*/

/*Hr (line){{{*/
hr {
  border: 0.1rem solid rgb(233, 233, 233);
}
/*}}}*/

/*Lists{{{*/
ul {
  /* list-style-type: none; */
  /* padding-left: 0; */
}

li {
  padding-top: 0.1rem;
}
/*}}}*/

/*Links{{{*/
a:link, a:visited {
  color:  var(--secondary-font-color);
  text-decoration: none;
}

a:hover {
  color: rgb(17, 131, 185);
}

a.ghost:link, a.ghost:visited, a.ghost:hover {
  color: var(--main-font-color);
  text-decoration: none;
}
/*}}}*/


/*Webcam{{{*/
.webcam {
    width: 100%;
    display: block;
    padding-bottom: 1em;    
}    
/*}}}*/

/*Map style{{{*/
/* #map { */
/*     width: 50%; */
/*     height: 70vh; */
/* } */ 
/*}}}*/

/*Tablets and mobile devices{{{*/
@media screen and (max-width: 992px) {
  body {
      max-width: none;
  }
  .image_logo {
      width: 70%;
  }
  .masonry {
      column-count: 2;
  }
  .webcam {
      width: 100%;
      height: 100%;
  }
  #map {
      width: 100%;
      height: 70vh;
  }
  nav a {
    display: block;
  }
}

/*Laptops and large screens{{{*/
@media screen and (min-width: 992px) {

    .masonry {
        column-count: 3;
    }
    .imagemasonry {
        column-count: 2;
    }
    .imagemasonry4 {
        column-count: 4;
    }

    #fixedMenu {
      position: fixed;
      bottom: 25px;
      right: 6%;
      padding: .5px;
      background-color: white;
    }
}
/*}}}*/

/*Footer{{{*/
footer {
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 2rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.6rem;
}
/*}}}*/

/* Back to top{{{ */
#backToTop {
    position: fixed;
    bottom: 10px;
    /* float: right; */
    right: 18.5%;
    /* left: 77.25%; */
    /* max-width: 30px; */
    /* width: 100%; */
    /* font-size: 12px; */
    /* border-color: rgba(85, 85, 85, 0.2); */
    background-color: #ffffff;
    padding: .5px;
    border-radius: 4px;
}
/* }}} */

/* {{{Video */
video {
  width: 100%;
}
/* }}} */

