{{ define "main" }}


    <!-- <section class=gallerymasonry> -->
    <!--         <section class=galleryitem> -->
    <!--             <1!-- Title image, defined in 'image' tag in .md file --1> -->
    <!--             <a class="ghost gallery-title" href="/">Blog</a> -->
    <!--             <1!-- <a href="{{.Permalink}}"> --1> -->
    <!--                 <1!-- <img src="{{ . }}" alt="" class="image-thumb"> --1> -->
    <!--             <1!-- </a> --1> -->
    <!--         </section> -->

    <!-- </section> -->

<img src="img/tournette.jpg">

<header>
    <h1>Blog feed</h1>
</header>
<hr>

<!-- The code below creates a classic blog feed -->


{{- range ( where site.RegularPages "Type" "in" site.Params.mainSections | first 80 ) }}
<!-- <li><a href="{{ .Permalink }}">{{ .Date.Format "2006-01-02"}} {{ .Title }}</a></li> -->
    <!-- <div class="type">{{ .Params.type }}</div> -->
    <!-- <a class="ghost post-date" href="{{.Permalink}}">{{.Date.Format "2 Jan 2006"}}</a> -->
    <!-- {{ .Render "summary"}} -->
    <a href="{{.Permalink}}">{{.Date.Format "2 Jan 2006"}}</a>
    <p><a class="ghost post-title" href="{{.Permalink}}">{{.Title}}</a></p>
    <hr>
    <br>
{{- end}}


{{ end }}

