{{ define "main" }}
<!-- <main> -->
<!--     <article> -->
<!--         <header> -->
<!--             <h1>{{.Title}}</h1> -->
<!--         </header> -->
<!--         <1!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md --1> -->
<!--         <1!-- {{.Content}} --1> -->
<!--     </article> -->
<!--     <ul> -->
<!--     <1!-- Ranges through content/posts/*.md --1> -->

<!--     {{ range .Pages }} -->
<!--         <li> -->
<!--             <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a> -->
<!--         </li> -->
<!--     {{ end }} -->
<!--     </ul> -->
<!-- </main> -->
<main id="main">
  <article>
      <header>
        <h1 id="title">Social posts</h1>
    </header>
        {{.Content}}
  </article>

  {{ range .Pages }}
    <article class="post">
      <header>
        <a class="ghost post-title" href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
      </header>

        {{ with .Params.image }}
        <p> <img src="{{ . }}" alt="" class=""> </p>
        {{ end }}

      {{ .Summary }}
      <!-- <footer> -->
      <!-- <a href='{{ .Permalink }}'><nobr>Read more →</nobr></a> -->
      <!-- </footer> -->
    </article>
  {{ end }}
</main>
{{ end }}

