<head>
    <meta charset="utf-8">
    <title>Erik Johannes Husom</title>

    <link href="https://ejhusom.github.io/_sass/minimalwhite.css" rel="stylesheet" type="text/css" title="Minimalist White">
    <link href="https://ejhusom.github.io/_sass/flashcard.css" rel="alternate stylesheet" type="text/css" title="Flashcard">

    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="author" content="Erik Johannes Husom">
    <meta name="description" content="Personal website.">
</head>



