    <header>
        <nav class=header-nav>
            <a href="index.html">home</a>
            <a href="blog.html">blog</a>
            <a href="photography.html">photography</a>
        </nav>
        <h1 class=p-name rel="me">Erik Johannes Husom</h1>
        <ul class=contact>
            <li class=contactlink><a href="mailto:erikjohannes@protonmail.com">mail</a></li>
            <li class=contactlink><a href="https://mastodon.social/@erikjohannes">mastodon</a></li>
            <li class=contactlink><a href="https://instagram.com/erikjohannes.husom">instagram</a></li>
            <li class=contactlink><a href="https://github.com/ejhusom">github</a></li>
        </ul>
    </header>
