
    <head>
        <meta charset="utf-8">


        <title>Erik Johannes Husom - {{ .Site.Title }}</title>
        <meta name="description" content="{{ .Site.Params.Description }}">

        <!-- CSS -->
        <!-- <link rel="stylesheet" href="css/style.css"> -->
        <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
        <link rel="icon" href="{{ .Site.BaseURL }}img/favicon-32.png" sizes="32x32">

        <base href="{{ .Site.BaseURL }}">
        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <meta name="author" content="Erik Johannes Husom">
        <meta name="description" content="Personal website.">

        <!-- RSS -->
        {{ range .AlternativeOutputFormats -}}
            {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
        {{ end -}}

        <!-- Matomo -->
        <script type="text/javascript">
          var _paq = window._paq = window._paq || [];
          /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u="https://erikjohannes.matomo.cloud/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.src='//cdn.matomo.cloud/erikjohannes.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <!-- End Matomo Code -->


    </head>
