
{{ define "main" }}
<main>
<style>
body {
    max-width: 1500px;
}
</style>
    <article>
        <header>
            <h1>Photography</h1>
            <!-- <h1>{{.Title}}</h1> -->
        </header>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        <!-- {{.Content}} -->
    </article>
    <!-- Ranges through content/posts/*.md -->

    <section class=gallerymasonry>
    {{ range .Pages }}
        <!-- Title of gallery -->
        <!-- <a href="{{.Permalink}}">{{.Title}}</a> -->

            <section class=galleryitem>
                <!-- Title image, defined in 'image' tag in .md file -->
                <a class="ghost gallery-title" href="{{.Permalink}}">{{.Title}}</a>
                <a href="{{.Permalink}}">
                    {{ with .Params.image }}
                        <img src="{{ . }}" alt="" class="image-thumb">
                    {{ end }}
                </a>
            </section>

    {{ end }}
    </section>
</main>
{{ end }}
