    <footer>
        No tracking. No cookies. No visit logs.
        <!-- <br> -->
        <!-- Get updates via <a href="index.xml">RSS</a>. -->
        <!-- <br> -->
        <!-- If you got comments or feedback, feel free to send me an e-mail: <a href="mailto:erikjohannes@protonmail.com">erikjohannes@protonmail.com</a> :) -->
        <!-- <br> -->
        <!-- Website is built through self-made scripts and manual writing. -->
        <br>
        Copyright: &copy;2018-2022 Erik Johannes Husom. All rights reserved.
    </footer>
