    <header>
        <h1 class=p-name rel="me"><a href="https://erikjohannes.no/" class=ghost>Erik Johannes</a></h1>
        <br>
        <nav class=header-nav>
            <!-- <a href="index.html">home</a> -->
            <a href="blog.html">Blog</a>
            <a href="photofeed.html">Photofeed</a>
            <!-- <a href="mountain-conditions.html">Mountain conditions</a> -->
            <!-- <a href="https://peakbase.app">Peakbase</a> -->
            <a href="photography.html">Photography</a>
            <a href="stuff.html">Stuff</a>
            <a href="about.html">About</a>
            <a href="index.xml">RSS</a>
        </nav>
    </header>
